@import '~rc-slider/assets/index.css';

.rc-slider-track {
  background-color: #007bff;
}

.rc-slider-handle {
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    border-color: #007bff;
  }

  &:active {
    border-color: #007bff;
  }

  &:focus {
    border-color: #007bff;
  }
}

.feedback-placeholder {
  height: 20px;
}
