.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .date {
    padding-bottom: 20px;
    min-height: 41px;
  }
  .text-point {
    padding-bottom: 20px;
    min-height: 41px;
  }
}
.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  padding-top: 15px;
  min-height: 82px;
  text-align: center;

  h4 {
    font-weight: 600;
  }

  h6 {
    display: inline-block;
    position: absolute;
    left: 80%;
  }

  &:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
}
.li.complete {
  .status {
    border-top: 2px solid #007bff;
    &:before {
      background-color: #007bff;
      border: none;
      transition: all 200ms ease-in;
    }
    h5 {
      color: #007bff;
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timestamp {
    width: 100px;
  }
  .status {
    &:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    }
  }
}
