.button-action {
  float: right;
  display: inline-block;
  margin: 15px;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.table-header {
  font-weight: bold;
}

.table-row div:first-child {
  width: 10% !important;
}

.table-row-column {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
